@font-face {
    font-family: 'Avant GardeBook';
    src: url(../Fonts/AvantGardeBookRegular.otf);
}

@font-face {
    font-family:'Helvetica Neue';
    src: url(../Fonts/HelveticaNeue.otf);
}
@font-face {
    font-family:'Helvetica Neue Bold';
    src: url(../Fonts/HelveticaNeue-Bold.otf);
}
@font-face {
    font-family:Moon;
    src: url(../Fonts/MoonLight.otf);
}
@font-face {
    font-family:MoonBold;
    src: url(../Fonts/MoonBold.otf);
}
.font-avant {
    font-family:'Avant GardeBook';
}
.font-helvetica {
    font-family:'Helvetica Neue';
}
.font-helvetica-bold {
    font-family:'Helvetica Neue';
    font-weight:bold;
}
.font-moon {
    font-family:Moon;
}
.font-moon-bold {
    font-family:MoonBold;
}
.btn-pink {
    background-color:#ff3a64;
    border-radius:0;
    border:1px solid #ff3a64;
    color:white;
}
    .btn-pink:hover,.btn-pink:focus,.btn-pink:active {
        background-color:white;
        border-radius:0;
        border:1px solid #ff3a64;
        color:#ff3a64;
    }
.btn-blue {
    background-color:#47acff;
    border-radius:0;
    border:1px solid #47acff;
    color:white;
}
    .btn-blue:hover,.btn-blue:focus {
        background-color:white;
        border-radius:0;
        border:1px solid #47acff;
        color:#47acff;
    }
.btn-fb {
    background-color:#2880b9;
    border:1px solid #2880b9;
    color:white;
}
    .btn-fb:hover,.btn-fb:focus {
        background-color:#2880b9;
        border:1px solid #2880b9;
        color:white;
    }
.btn-google {
    background-color:#e54c3c;
    border:1px solid #e54c3c;
    color:white;
}
    .btn-google:hover,.btn-google:focus {
        background-color:#e54c3c;
        border:1px solid #e54c3c;
        color:white;
    }
.link-green {
    color:#5db194;
}
.link-green:hover,.link-green:focus {
    color:#5db194;
    text-decoration:underline;
}
.btn-login {
    background-color:#5db194;
    border:1px solid #5db194;
    color:white;
}
    .btn-login:hover, .btn-login:focus {
        background-color:white;
        border:1px solid #5db194;
        color:#5db194;
    }
    .btn-login .lefticon {
        position:relative; top:-1px; left:-5px; width:14px; height:11px
    }
    .btn-login .righticon {
        position:relative; top:-1px; left:5px; width:14px; height:11px
    }
.btn-login-inverse {
    background-color:white;
    border:2px solid #5db194;
    transition: all ease 0.2s;
    color:#5db194;
}
    .btn-login-inverse:hover, .btn-login-inverse:focus {
        background-color:#5db194;
        border:2px solid white;
        transition: all ease 0.2s;
        color:white;
    }
    .btn-login .lefticon {
        position:relative; top:-1px; left:-5px; width:14px; height:11px
    }
    .btn-login .righticon {
        position:relative; top:-1px; left:5px; width:14px; height:11px
    }
.btn-abu {
    background-color:#cecccc;
    border:1px solid #a5a5a5;
    color:white;
}

/*nav bar*/

.nav-bar-bg {
    background-image:url('../../Images/navbar-background.png'); 
    height:135px;
    box-shadow:0px 4px 5px 0px rgba(0,0,0,0.75);
}
.navbar-default {
    background-color:transparent;
    border-bottom:0; 
    transition:all ease 0.5s;
}
.navbar-default-inverse {
    background-color:rgba(0,0,0,0.5);
    box-shadow:0px 4px 5px 0px rgba(0,0,0,0.75);
    /*transition:all ease 0.5s;*/
}
.navbar-brand img {
    position:relative; 
    top:-8px;
}

/*breadcumber*/
.breadcrumb {
    padding-top:15px;
    background-color:transparent;
    font-size:12px;    
}
.breadcrumb li {
    color:white;
}
.breadcrumb > li + li:before {
    color: rgba(255,255,255,0.5);
    content: "> ";
    padding: 0 5px;
}
.breadcrumb > .active {
    color:white;
    font-weight:bold;
}
.breadcrumb li a  {
    color:white;
    text-decoration:none;
    background-color:none;
}
.breadcrumb li a:focus,a:active  {
    background-color:none;
}

/*footer*/
.footer {
    background-color:#494949;
    color:#cecccc;
}

.footer-item {
    margin:20px;
}
.footer-item ul{
    list-style:none; 
    margin:0;
    padding:0; 
    padding-top:10px;
}
.footer-item ul li{
    padding:5px 0px;
}
.footer-item .title-underline{
    border-bottom:2px #2d2d2d solid; 
    padding:0;
}
.footer-item .title-underline > span{
    border-bottom:2px #cecccc solid; 
    font-size: 18px; 
    padding-bottom:1px;
}

/*umum*/

.title-underline{
    border-bottom:2px #cecccc solid; 
    padding:0;
}
.tab-selected{
    color:#5DB194;
    padding:0;
}
.tableBrownNavy tr:nth-child(2n) {
    background-color:#CECCCC;
}
.tableBrownNavy tr:nth-child(2n+1) {
    background-color:#DAD1C6;
}
.title-underline > span{
    border-bottom:2px #353535 solid; 
    font-size:15px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: transparent;
}
.navbar-default .navbar-nav > .open .dropdown-menu {
    background-color:rgba(69,69,69,0.2);
    border:1px solid white;
}
    .navbar-default .navbar-nav > .open .dropdown-menu >li> a {
        color:white;
    }
    .navbar-default .navbar-nav > .open .dropdown-menu >li> a >img {
        height:13px;
        width:13px;
        margin-right:5px;
    }
    .navbar-default .navbar-nav > .open .dropdown-menu >li> a:hover {
        /*color:black;*/
        background-color:rgba(93,177,148,1);
    }

.validation-summary-custom ul {
    /*list-style:none;
    padding:0px;*/
}

.circle-gray{
    cursor:pointer;
    border-radius: 50%;
    width:150px; 
    height:150px;
    /*height:200px;*/
    /*padding:15px 0px 15px 0px;*/ 
    margin-bottom:10px;
    text-align:center;
    background-color:#EFEEEC;
    position:relative;
}
    .selected {
        /*border:3px solid #5db194;
        padding:32px 0px 32px 0px;*/ 
        background-color:rgba(93,177,148,0.5);
    }
    .circle-gray img {
    position:absolute;left:50%; width:60%; height:60%; transform:translate(-50%,-50%);top: 50%;
    }
    .circle-gray .title {
        position:absolute;
        top: 50%;width:100%; 
        color:#636363; 
        font-size:25px; 
        left:0; transform:translateY(-50%);
    }

.col-xs-2comma4,
.col-sm-2comma4,
.col-md-2comma4,
.col-lg-2comma4 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-2comma4 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-2comma4 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-2comma4 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-2comma4 {
        width: 20%;
        float: left;
    }
}

.border-gray {
    border:1px solid #D2CCC7
}

.border-white {
     border:1px solid #cecccc;
}

.form-message {
    position:relative; 
    left:0; 
    right:0; 
    top:10px; 
    margin:0;
}
.popup-message {
    position:absolute;
    left:0;
    right:0;  
    top:0px; 
    z-index:10;
    margin:0;
}

/*How it works*/

        .how {
            background-color:rgba(232,232,232,0.3);
            min-height:360px;
        }
        .how-inverse {
            background-color:rgba(209,209,209,0.3);
            min-height:360px;        
        }
        .how .thumbnail {
            background-color:transparent;
            border:none;
        }
        .how-inverse .thumbnail {
            background-color:transparent;
            border:none;
        }
        
        .how .thumbnail img {
            height:100px;
        }
        .how-inverse .thumbnail img {
            height:100px;
        }
        .how .thumbnail .caption {
            color:#707070;
        }
        .how-inverse .thumbnail .caption {
            color:#707070;
        }
        .how .thumbnail .caption h4 {
            /*line-height:70px;*/
            /*line-height:40px;*/
            min-height:80px;
            padding:20px 0px;
            text-align:center;
        }
        .how-inverse .thumbnail .caption h4 {
            /*line-height:70px;*/
            /*line-height:40px;*/
            min-height:80px;
            padding:20px 0px;
            text-align:center;
        }
        .how .thumbnail .caption h5 {
            /*line-height:70px;*/
            line-height:40px;
            text-align:center;
        }
        .how-inverse .thumbnail .caption h5 {
            /*line-height:70px;*/
            line-height:40px;
            text-align:center;
        }
/*Category*/
        .category {
            padding:2px 2px;
        }
        .category .overlay {
            position:absolute;
            top:2px;
            bottom:2px;
            left:2px;
            right:2px;
            background-color:rgba(0,0,0,0.5);
            color:white;
            opacity:0;
            transition:opacity ease 0.25s;
        }
        .category:hover .overlay {
            opacity:1;
            transition:opacity ease 0.25s;
        }
        .category:hover img {            
            /*filter:blur(5px);*/
        }
        .category .overlay span{
            position:absolute;
            top:50%;
            left:50%;
            transform:translate(-50%,-50%);
            font-size:20px;
            text-align:center;
            display:block;
        }
/*Testimoni*/
        .testi {
            margin-top:15px;
            margin-bottom:15px;
            padding-bottom:15px;
            background-color:rgba(224,224,224,0.3);
        }
        .testi .thumbnail {
            margin-top:15px;
            margin-bottom:15px;
            background-color:rgba(224,224,224,0.3);
            border:none; 
            background-color:transparent;
        }
            .testi .thumbnail .img-circle {
                width:200px; 
                height:200px;
                border:5px solid white;
            }
            .testi .thumbnail blockquote footer {
                font-weight:bold;
            }